@model KPI_vol2.Models.Zdarzenia

@{
    ViewData["Title"] = "Usuń zdarzenie";
}



<h3>Czy na pewno chcesz usunąć to zdarzenie?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naprawa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naprawa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZdarzenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZdarzenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataWykonania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataWykonania)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsobaOdpowiedzialna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsobaOdpowiedzialna)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Anuluj</a>
    </form>
</div>
