@model KPI_vol2.Models.Zdarzenia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zdarzenia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naprawa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naprawa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZdarzenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZdarzenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataWykonania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataWykonania)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsobaOdpowiedzialna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsobaOdpowiedzialna)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
