@model KPI_vol2.Models.Zdarzenia

@{
    ViewData["Title"] = "Szczegóły zdarzenia";
}



<div>
    <h2>Szczegóły zdarzenia</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nazwa zdarzenia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            Sposób naprawy
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naprawa)
        </dd>
        <dt class = "col-sm-2">
            Data zdarzenia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZdarzenia)
        </dd>
        <dt class = "col-sm-2">
            Data wykonania
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataWykonania)
        </dd>
        <dt class = "col-sm-2">
            Osoba odpowiedzialna
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsobaOdpowiedzialna)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edycja</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
