@model IEnumerable<KPI_vol2.Models.Zdarzenia>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Zdarzenia";
    Layout = "~/views/shared/_layout1.cshtml";
}

<h1>Lista zdarzeń</h1>
@*pokaż wszystkie zgłoszenia
    osobno zgłoszenia kamishibay*@


<p>
    <a asp-action="Create">Dodaj nowe zdarzenie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tytuł zdarzenia
            </th>          
            <th>
                Data zdarzenia
            </th>
            <th>
                Data wykonania
            </th>
            <th>
                Osoba odpowiedzialna
            </th>
            <th>
                Status zgłoszenia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>                      
            <td>
                @Html.DisplayFor(modelItem => item.DataZdarzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataWykonania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OsobaOdpowiedzialna)
            </td>
                 <td>
            @Html.DisplayFor(model => item.Status.NameStatus)   
            </td>
            <td>
                @if(SignInManager.IsSignedIn(User)&& User.IsInRole("Admin"))
                {
                <a asp-action="Edit" asp-route-id="@item.Id">Edycja</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>

                }
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> 
            </td>
        </tr>
}
    </tbody>
</table>

@*<a asp-controller="Bhp" asp-action="Create"  class="btn btn-primary">Kalendarz</a>*@


<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>*@
@{
   
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj zdarzenie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Czy doszło do zadarzenia, które chcesz umieścić w raporcie BHP? <br />
                Work in progress...
            </div>
            <div class="modal-footer m-auto">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" a asp-action="Create">Tak</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>


<div id='calendar' class="m-3"></div>

<script type="text/javascript">

   
   

  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');
        
       var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridFourDay',
            
            locale:'pl',
            defaultDate: new Date(),

            //headerToolbar: {center: 'dayGridMonth,timeGridFourDay',
                



            //},
            titleFormat: { year: 'numeric', month: 'long', day: 'numeric' },
            //dayHeaderContent: (args) => {
            //    return moment(args.date).format('dddd')
            //},

            dayHeaderFormat:{
                 month: 'numeric', day: 'numeric', omitCommas: true
            },
          
        events: 'http://kpi.pl.uhlmann-net.de/Zdarzenias/getevents',
           // events: 'https://localhost:7210/Zdarzenias/GetEvents',
            eventColor: '#f54425',
        selectable: true, 
        selectHelper: true,
        edittable: true,
        eventLimit: true,
        select: function(start,end,allDays){
                $('#exampleModal').modal('toggle');
        },
           

          views: {
                timeGridFourDay: {
                    type: 'dayGrid',
                    //duration: { days: 30 },
                    buttonText: 'Tydzień',
                    dayCount:30,
                    contentHeight: 75,
                  
                },
                dayGridMonth:
                {
                    buttonText: 'Miesiąc'
                }
                        
                 

               
            },
          
            

   
            //hiddenDays: [],
            //dayRenderInfo.el:
           
           
            
            
           
        
    });
    /* calendar.FullCalendar('addEventSource', '/zdarzenias/EventsJson');*/
   
    calendar.render();
});
</script>



