@model IEnumerable<KPI_vol2.Models.Zdarzenia>

@{
    ViewData["Title"] = "Lista zdarzeń";
}

<h1>Lista zdarzeń</h1>

<p>
    <a asp-action="Create">Dodaj nowe zdarzenie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa zdarzenia
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>*@
            <th>
                Data zdarzenia
            </th>
            <th>
                Data wykonania
            </th>
            <th>
                Osoba odpowiedzialna
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DataZdarzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataWykonania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OsobaOdpowiedzialna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naprawa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
