@model ZgloszeniaDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zgloszenie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zgloszenie.PostDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zgloszenie.PostDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zgloszenie.PostedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zgloszenie.PostedBy.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zgloszenie.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zgloszenie.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zgloszenie.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zgloszenie.Topic)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zgloszenie.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zgloszenie.Department.Name)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zgloszenie.AssignedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zgloszenie.AssignedTo.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zgloszenie.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zgloszenie.Priority.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zgloszenie.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zgloszenie.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zgloszenie.ClosedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zgloszenie.ClosedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zgloszenie.WorkingArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zgloszenie.WorkingArea.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zgloszenie.StatusByAssigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zgloszenie.StatusByAssigned.NameStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zgloszenie.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zgloszenie.Status.NameStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.zgloszenie.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
