@model IEnumerable<KPI_vol2.Models.Zgloszenie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>
                Data zgloszenia
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PostedBy)
            </th>*@
            <th>
                Kategoria
            </th>
            <th>
                Temat
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>*@
            <th>
                Osoba przypisana
            </th>
            <th>
                Priorytet
            </th>
            <th>
                Przewidywana data zakończenia
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.ClosedOn)
            </th>*@
            <th>
                Obszar zgłoszenia
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.StatusByAssigned)*@
                Status
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Status)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
           @*<td>
                @Html.DisplayFor(modelItem => item.PostedBy.Email)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.AssignedTo.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.ClosedOn)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.WorkingArea.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusByAssigned.NameStatus)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Status.NameStatus)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
