@model UzytkownikVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Uzytkownik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uzytkownik.Imię)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uzytkownik.Imię)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uzytkownik.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uzytkownik.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uzytkownik.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uzytkownik.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uzytkownik.Departments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uzytkownik.Departments.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uzytkownik.TelephonNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uzytkownik.TelephonNo.NumerTel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.uzytkownik.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
