@model IEnumerable<KPI_vol2.Models.Status>

@{
    ViewData["Title"] = "Status";
}

<h1>Lista wartości statusu zdarzenia</h1>

<p>
    <a asp-action="Create">Dodaj nowa wartość</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <form method="post" asp-action="Delete" asp-route-id="@item.IdStatus">
                        <a asp-controller="Status" asp-action="Edit"
                       asp-route-id="@item.IdStatus" class="btn btn-primary">Edycja</a>

                        <span id="confirmDeleteSpan_@item.IdStatus" style="display:none">
                            <span>Czy na pewno chcesz usunąć wartość?</span>
                            <button type="submit" class="btn btn-danger">Tak</button>
                            <a href="#" class="btn btn-primary"
                           onclick="confirmDelete('@item.IdStatus', false)">Nie</a>
                        </span>

                        <span id="deleteSpan_@item.IdStatus">
                            <a href="#" class="btn btn-danger"
                           onclick="confirmDelete('@item.IdStatus', true)">Usuń</a>
                        </span>
                    </form>

               @* <a asp-action="Edit" asp-route-id="@item.IdStatus">Edycja</a> |
                @*<a asp-action="Details" asp-route-id="@item.IdStatus">Details</a> |*@
               @* <a asp-action="Delete" asp-route-id="@item.IdStatus">Usuń</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
